/*  your css code here. If applicable */
.cards
{
	display: flex;
	/* flex-wrap: wrap; */
	height: 100vh;
	/* width: 100vw; */
	gap: 10px;
	justify-content: center;
	align-items:center;
}

img
{
	
	height: 50%;
	width: 50%;
	margin: 10px;
	border: 3px solid #000;
	box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
}